#container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100px;
}
 
#keys {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90px;
}